@import url("/Util/util.css");
@import url("/Alert/alert.css");
@import url("/Avatar/avatar.css");
@import url("/Button/button.css");

/* Custom Scrollbar */
/* width */
::-webkit-scrollbar {
    width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--scrollbar-track);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--scrollbar-thumb);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--scrollbar-thumb-hover);
}

/* Overall layout of Documentation site */
.doc-layout {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas:
        "nav nav nav"
        "aside main main"
        "aside main main"
        "aside main main"
        "aside main main"
    ;

    grid-template-columns: 20% auto;
    grid-template-rows: 10% auto;
}

.nav {
    grid-area: nav;
    border: solid 1px var(--grid-border);
    padding: 1rem;
    /* overflow: auto; */
}

.aside {
    grid-area: aside;
    border: solid 1px var(--grid-border);
    padding: 0 1rem;
    overflow: auto;
}

.main {
    grid-area: main;
    border: solid 1px var(--grid-border);
    padding: 1rem;
    overflow: auto;
}

/* Navigation */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand .fas {
    font-size: 2.5rem;
}

.brand-name {
    text-decoration: none;
    font-weight: 800;
    color: var(--primary-color);
    font-size: 1.5rem;
    margin: 0 1rem;
}

.list-inline {
    display: flex;
    justify-content: space-between;
}

.list-inline li {
    list-style: none;
    margin: 0.5rem;
}

.list-inline .link {
    color: var(--social-handler);
}

.fab {
    font-size: 1.5rem;
}

.link {
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    color: var(--social-handler);
}

/* Aside */
.comp {
    padding: 1rem 0;
    font-weight: 700;
    border-bottom: 1px solid var(--aside-hr);
    margin-bottom: .5rem;
}

.comp-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-weight: 600;
}

.comp-list>li {
    margin: 0.5rem 0;
    padding: 0.5rem;
}

/* Main */
.main-block {
    display: flex;
    flex-direction: column;
}

.brand-spell {
    font-weight: 600;
    color: var(--primary-color);
    font-size: 1rem;
    text-decoration: none;
}

#installation {
    height: 726px;
}

@media screen and (max-width: 768px) {
    body {
        font-size: 16px;
    }

    .doc-layout {
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-areas:
            "nav nav nav"
            "main main main"
            "main main main"
            "main main main"

        ;

        grid-template-columns: auto;
        grid-template-rows: auto;
    }
}