@import url("/Components/Util/util.css");

body {
    border-top: solid 6px var(--primary-color);
}

html {
    scroll-behavior: smooth;
}

/* Overall layout of Documentation site */
.doc-layout {
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-areas:
        "nav nav nav"
        "aside main main"
        "aside main main"
        "aside main main"
        "aside main main"
    ;

    grid-template-columns: 20% auto;
    grid-template-rows: 10% auto;

    margin: auto;
    max-width: 1200px;
    align-content: center;
}

.nav {
    grid-area: nav;
    padding: 1rem;
}

.aside {
    grid-area: aside;
    padding: 0 1rem;
    overflow: auto;
}

.main {
    grid-area: main;
    padding: 1rem;
    overflow: auto;
}

/* Navigation */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brand .fas {
    font-size: 3.5rem;
}

.brand-name {
    text-decoration: none;
    font-weight: 700;
    color: var(--primary-color);
    font-size: 1.5rem;
    margin: 0 1rem;
}

.list-inline {
    display: flex;
    justify-content: space-between;
}

.list-inline li {
    list-style: none;
    margin: 0.5rem;
}

.list-inline .link {
    color: var(--social-handler);
}

.comp-list-link>a {
    text-decoration: none;
    color: var(--primary-color);    ;
}

.comp-list-link:hover {
    background-color: #F5F3FF;
    border-radius: 0.3rem;
}

.link {
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    color: var(--social-handler);
}

/* Aside */
.comp {
    padding: 1rem 0;
    font-weight: 700;
    border-bottom: 1px solid var(--aside-hr);
    margin-bottom: .5rem;
}

.comp-list {
    list-style: none;
    display: block;
    font-weight: 600;
}

.comp-list>li {
    margin: 0.5rem 0;
    padding: 0.5rem;
}

/* Main */
.main-block {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 700px;
}

.brand-spell {
    font-weight: 600;
    color: var(--primary-color);
    font-size: 1rem;
    text-decoration: none;
}

#installation {
    height: 726px;
}

.max-width {
    margin: auto;
    max-width: 1200px;
}

/* index.html page */
.home-page {
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    margin: 1rem;
}
.linear-gradient {
    background: linear-gradient(110deg, #374151, #A78BFA);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.main-font {
    font-weight: 700;
    font-size: 4rem;
    /* background: linear-gradient( #374151, #A78BFA);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text; */
}

.btn-large {
    font-size: 2rem;
    font-weight: 400;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.1);
}

.compact-css {
    color: var(--primary-color);
}

@media screen and (max-width: 768px) {
    body {
        font-size: 16px;
    }

    .doc-layout {
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-areas:
            "nav"
            "main"
        ;

        grid-template-columns: 100%;
        grid-template-rows: 10% 90%;
    }

    .main-font {
        font-size: 2rem;
    }

    .btn-large {
        font-size: 1rem;
        font-weight: 400;
    }
}