<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card</title>
    <script src="https://kit.fontawesome.com/4dbfd910d5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/Button/button.css">
    <link rel="stylesheet" href="/Badge/badge.css">
    <link rel="stylesheet" href="/Card/card.css">
</head>

<body style="display: flex; flex-direction: column;">

    <div id="card">
        <h1>Card</h1>
        <div class="sub-head">Cards contain content and actions about a single subject.
            <br><br> Cards are surfaces that display content and actions on a single topic.

            <br><br> They should be easy to scan for relevant and actionable information. Elements, like text and
            images, should
            be placed on them in a way that clearly indicates hierarchy.
        </div>
        <hr>

        <div class="pl-4">
            <h2 class="mb-2">Simple Card</h2>

            <!-- simple card  -->
            <div class="outer-div">
                <div class="card">
                    <div class="card-heading">The Powerpuff Girls</div>
                    <div class="card-content">The Powerpuff Girls is an American superhero animated television series.
                    </div>
                </div>
            </div>

            <div class="outer-div">
                <script src="https://gist.github.com/hrshmistry/e7d7a9ab4d6c2e7bf0ff2cef15315231.js"></script>
            </div>

            <h2 class="mb-2">Image Card</h2>

            <!-- image card  -->
            <div class="outer-div">
                <div class="card">
                    <img class="img-card" src="https://bit.ly/3frqtoo" alt="powerpuff-girls">
                    <div class="card-heading">The Powerpuff Girls</div>
                    <div class="card-content">The Powerpuff Girls is an American superhero animated television series.
                    </div>
                </div>
            </div>

            <div class="outer-div">
                <script src="https://gist.github.com/hrshmistry/8f712541ce77d5c621a2eecfc78c3ea2.js"></script>
            </div>

            <h2 class="mb-2">eCommerce Card</h2>

            <!-- eCommerce card  -->
            <div class="outer-div">
                <div class="card e-comm-card">
                    <img class="img-card" src="https://bit.ly/2PKuPw0" alt="Men's T-shirt">

                    <button class="e-comm-like">
                        <i class="far fa-heart"></i>
                    </button>

                    <div class="e-comm-title">Kook N Keech</div>
                    <small class="e-comm-content">Pure Cotton Printed T-shirt</small>

                    <div class="e-comm-price">
                        <small>Rs. 499</small>
                        <small class="e-comm-price-cut">Rs. 999</small>
                        <small class="e-comm-disc">(50% OFF)</small>
                    </div>
                    <button class="btn btn-primary e-comm-btn"> Add to Cart</button>
                </div>
            </div>

            <div class="outer-div">
                <script src="https://gist.github.com/hrshmistry/b5b5b31657451ebdbed505c20ed9295e.js"></script>
            </div>

            <h2 class="mb-2">eCommerce Card with badge</h2>

            <div class="outer-div">
                <div class=" card e-comm-card">
                    <img class="img-card" src="https://bit.ly/2PKuPw0" alt="Men's T-shirt">

                    <button class="e-comm-like">
                        <i class="far fa-heart"></i>
                    </button>

                    <small class="badge solid-badge e-comm-badge">NEW</small>

                    <div class="e-comm-title">Kook N Keech</div>
                    <small class="e-comm-content">Pure Cotton Printed T-shirt</small>

                    <div class="e-comm-price">
                        <small>Rs. 499</small>
                        <small class="e-comm-price-cut">Rs. 999</small>
                        <small class="e-comm-disc">(50% OFF)</small>
                    </div>
                    <button class="btn btn-primary e-comm-btn"> Add to Cart</button>
                </div>
            </div>

            <div class="outer-div">
                <script src="https://gist.github.com/hrshmistry/27e61af2b9cefaa26b8834f1fa277940.js"></script>
            </div>

        </div>

    </div>
</body>

</html>