https://bit.ly/2VTubQf<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Avatar</title>
    <script src="https://kit.fontawesome.com/4dbfd910d5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/Button/button.css">
    <link rel="stylesheet" href="/Avatar/avatar.css">
</head>

<body style="display: flex; flex-direction: column;">

    <div id="avatar">
        <h1>Avatar</h1>
        <div class="sub-head">The Avatar component is used to represent a user, and displays the profile picture,
            initials or fallback icon.
        </div>
        <hr>

        <div class="pl-4">
            <h2 class="mb-2">Usage</h2>

            <div class="outer-div">
                <img src="https://bit.ly/3yP5V06" alt="Tanay-Pratap" class="avatar">
                <img src="https://bit.ly/dan-abramov" alt="dan-abramov" class="avatar">
                <img src="https://bit.ly/kent-c-dodds" alt="kent-c-dodds" class="avatar">
                <img src="https://bit.ly/code-beast" alt="code-beasto" class="avatar">
            </div>

            <div class="outer-div">
                <script src="https://gist.github.com/hrshmistry/5a781a67ba94f66a03335005edba2906.js"></script>
            </div>

            <h2 class="mt-3 mb-2">Avatar Sizes</h2>

            <div class="outer-div">
                <img src="https://bit.ly/3yP5V06" alt="Tanay-Pratap" class="avatar sm">
                <img src="https://bit.ly/3yP5V06" alt="Tanay-Pratap" class="avatar md">
                <img src="https://bit.ly/3yP5V06" alt="Tanay-Pratap" class="avatar lg">
                <img src="https://bit.ly/3yP5V06" alt="Tanay-Pratap" class="avatar xl">
                <img src="https://bit.ly/3yP5V06" alt="Tanay-Pratap" class="avatar xxl">
            </div>

            <div class="outer-div">
                <script src="https://gist.github.com/hrshmistry/b39369c63eb242f8e43ebeb17bb61c53.js"></script>
            </div>

            <h2 class="mt-3 mb-2">Avatar with badge</h2>

            <div class="outer-div flex">
                <div class="avatar-badge">
                    <img src="https://bit.ly/3yP5V06" alt="Tanay-Pratap" class="avatar">
                    <div class="badge-online"></div>
                </div>
                <div class="avatar-badge">
                    <img src="https://bit.ly/kent-c-dodds" alt="kent-c-dodds" class="avatar">
                    <div class="badge-dnd"></div>
                </div>
                <div class="avatar-badge">
                    <img src="https://bit.ly/code-beast" alt="code-beasto" class="avatar">
                    <div class="badge-idle"></div>
                </div>
            </div>

            <div class="outer-div">
                <script src="https://gist.github.com/hrshmistry/470a6ef8a26e23ee9b3a03f43360a061.js"></script>
            </div>
        </div>

    </div>
</body>

</html>