<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alert</title>
    <script src="https://kit.fontawesome.com/4dbfd910d5.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/Alert/alert.css">
    <link rel="stylesheet" href="/Components/Util/util.css">
</head>

<body style="display: flex; flex-direction: column; align-items: center;">
    <div class="outer-div">
        <h1>Alert</h1>
        <div>Alerts are used to communicate a state that affects a system, feature or
            page.</div>
        <hr>
    </div>
    <h2>Simple Alert</h2>

    <div class="outer-div cover">
        <div class="alert alert-danger">
            <i class="fas fa-exclamation-circle"></i>
            <p>There was an error processing your request.</p>
        </div>
        <div class="alert alert-success">
            <i class="fas fa-check-circle"></i>
            <p>Data uploaded to the server. Fire on!</p>
        </div>
        <div class="alert alert-warning">
            <i class="fas fa-exclamation-triangle"></i>
            <p>Seems your account is about to expire.</p>
        </div>
        <div class="alert alert-info">
            <i class="fas fa-info-circle"></i>
            <p>Event is going live on July 30th. Get ready!</p>
        </div>
    </div>

    <div class="outer-div">
        <script src="https://gist.github.com/hrshmistry/33ade28c0651aedf63b33c22b85eb333.js"></script>
    </div>

    <h2>Outline Alert</h2>

    <div class="outer-div cover">
        <div class="alert outline-alert-danger">
            <i class="fas fa-exclamation-circle"></i>
            <p>There was an error processing your request.</p>
        </div>
        <div class="alert outline-alert-success">
            <i class="fas fa-check-circle"></i>
            <p>Data uploaded to the server. Fire on!</p>
        </div>
        <div class="alert outline-alert-warning">
            <i class="fas fa-exclamation-triangle"></i>
            <p>Seems your account is about to expire.</p>
        </div>
        <div class="alert outline-alert-info">
            <i class="fas fa-info-circle"></i>
            <p>Event is going live on July 30th. Get ready!</p>
        </div>
    </div>

    <div class="outer-div">
        <script src="https://gist.github.com/hrshmistry/6e2db63f5a209be952b51acc1085e0ff.js"></script>
    </div>
</body>

</html>