@import url("/Util/util.css");

/* Alert */
.alert {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 0.2rem;
    margin: 0.5rem 0;
    padding: 1rem;
}

.alert>p {
    padding-left: 1rem;
}

.alert-info {
    background-color: #DBEAFE;
    color: #1E3A8A;
}

.alert-success {
    background-color: #D1FAE5;
    color: #064E3B;
}

.alert-warning {
    background-color: #FEF3C7;
    color: #78350F;
}

.alert-danger {
    background-color: #FEE2E2;
    color: #7F1D1D;
}

.outline-alert-info {
    background-color: #DBEAFE;
    color: #1E3A8A;
    border: solid 1px #1E3A8A;
}

.outline-alert-success {
    background-color: #D1FAE5;
    color: #064E3B;
    border: solid 1px #064E3B;
}

.outline-alert-warning {
    background-color: #FEF3C7;
    color: #78350F;
    border: solid 1px #78350F;
}

.outline-alert-danger {
    background-color: #FEE2E2;
    color: #7F1D1D;
    border: solid 1px #7F1D1D;
}